{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        ;; https://clojure.atlassian.net/browse/CLJS-3293
        org.clojure/clojurescript {:git/url "https://github.com/nextjournal/clojurescript"
                                   :sha "f48609b862062caae6d19d5d281c4f7b53a39c25"}
        reagent/reagent {:mvn/version "1.0.0"
                         :exclusions [cljsjs/react
                                      cljsjs/react-dom
                                      cljsjs/react-dom-server]}
        nextjournal/clojure-mode {:local/root "/Users/mk/dev/clojure-mode"
                                  :git/url "https://github.com/nextjournal/clojure-mode"
                                  :sha "cf7ac2338e3ab33996a5d88484e2a5bc28b2fe36"}
        borkdude/sci {:mvn/version "0.2.0"}
        cljs-ajax/cljs-ajax {:mvn/version "0.8.0"}
        applied-science/js-interop {:mvn/version "0.2.7"}}
 :paths ["src" "resources"]
 :aliases {:fig {:extra-deps
                 {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                  com.bhauman/figwheel-main {:mvn/version "0.2.12"}}
                 :extra-paths ["src" "target" "test"]}
           :dev {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
           :build {:main-opts ["-m" "cljs.main" "-O" "advanced"
                               "-co" "prod.cljs.edn"
                               "-d" "out" "-c" "sci.web"]}}}
